/* Mobile First Approach */
/* Styles for Mobile Devices (up to 767px) */
@media (max-width: 767px) {
    .logo-text {
        display: none;
    }

    .banner-img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .banner-sub-title {
        margin-bottom: 0;
    }

    .banner-main-title {
        font-size: 30px;
        line-height: 40px;
    }

    .banner-right {
        width: 100%;
    }

    .statistics {
        margin-top: 20px;
    }

    .statistics-number {
        font-size: 30px;
    }

    .about-section {
        padding-top: 0;
    }

    .about-desc {
        font-size: 15px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .lastest-work-item {
        padding: 30px;
    }

    .btn-detail {
        margin-bottom: 20px;
    }

    .btn-custom {}

    .footer-main-title {
        /* font-size: 30px; */
    }

    .footer-desc {
        font-size: 18px;
    }
}

/* Styles for Tablets (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {}

/* Styles for Desktop (992px and above) */
@media (min-width: 992px) {}